@charset "utf-8";

html {
	box-sizing: border-box;
	font-family: $fontRoboto;

	@media #{$desktopSmall} {
		font-size: 87.5%;
	}

	@media #{$tabletLandscape} {
		font-size: 75%;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.25rem;
	line-height: 1.35;

	@media #{$mobileXLarge} {
		font-size: 1.125rem;
	}
}
