@import './../../scss/abstract/variables';

.header {
	&__title {
		font-size: 6rem;
		font-weight: 600;
		margin-bottom: 0.5rem;

		@media #{$mobileXLarge} {
			font-size: 5rem;
		}

		@media #{$mobileMedium} {
			margin-top: 7.5%;
		}
	}

	// &__tagline {
	// }
}
