@import './../../scss/abstract/variables';

.footer {
	color: $white;

	// &__text {
	// }

	&__icon-row {
		margin-top: 0.5%;

		@media #{$tabletPortrait} {
			margin-top: 1%;
		}

		@media #{$mobileMedium} {
			margin-top: 2.25%;
		}
	}

	&__icon-link {
		margin: 0 0.375%;
		transition: $transitionSmoothShort;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				opacity: 0.66;
			}
		}
	}

	// &__icon {
	// }
}
