html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8ac6d1;
  color: #fff;
  text-align: center;
}

.header {
  margin-top: 1rem;
}

.header__title {
  font-size: 6.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.header__tagline {
  font-size: 1.25rem;
}

.generate {
  background-color: #a1d2c6;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  margin: 3rem auto 5rem auto;
  padding: 2.25rem 7rem;
  text-align: center;
  width: 75%;
}

.generate__text {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.generate__btn {
  background: linear-gradient(to right bottom, #fae3d9, #ffb6b9);
  border: none;
  border-radius: 50px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 3rem 0 4rem 0;
  outline: none;
  padding: 1rem 2.5rem;
  transition: all 175ms ease-in-out;
}

.generate__btn:hover {
  background: linear-gradient(to right bottom, #fae3d9, #ffb6b9);
  filter: saturate(2);
}
